.element::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

.element {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

html:has(.element)::-webkit-scrollbar {
  display: none;
}

html:has(.element) {
  -ms-overflow-style: none;
  scrollbar-width: none;
}